.clients {
  // Breakpoints:
  // Mobile - 480px
  // Tablet - 768px
  // Desktop - 1200px
  display: inline-block;

  padding-top: 60px;
  padding-bottom: 60px;

  &__heading {
    margin-bottom: 30px;
    font-size: 28px;
  }

  &__list {
    min-width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    width: 210px;
    height: 92px;
    flex-basis: calc((100% - 30px) / 2);
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid rgba(33, 150, 243, 1);
      fill: var(--accent-color);
    }
  }

  // Tablet styles
  @media screen and (min-width: 768px) {
    display: flex;

    &__item {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
  // Desktop styles
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
    margin-bottom: 0;

    &__heading {
      margin-bottom: 50px;
      font-size: 36px;
    }

    &__list {
      display: flex;
      flex-wrap: nowrap;
    }

    &__item {
      flex-basis: calc((100% - 150px) / 6);
    }
  }
}
