.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 118px 60px;
  background-color: #c4c4c4;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/img_sm-@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/img_sm-@2x.png);
  }

  &__slogan {
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    color: var(--primary-bg-color);
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }

  &__btn {
    display: block;
    width: 200px;
    height: 50px;
    margin: auto;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: #188ce8;
    }
  }

  // Tablet styles
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 118px 204px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/img_md-@1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/img_md-@2x.png);
    }
  }
  // Desktop styles
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/img_lg-@1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/img_lg-@2x.png);
    }

    &__slogan {
      font-size: 44px;
      line-height: 1.4;
    }

    &__btn {
      width: 216px;
    }
  }
}
