address {
  font-style: normal;
  margin-top: 20px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--alternative-bg-color);

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--secondary-text-color);
  }
}
.address-item {
  margin-bottom: 9px;

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary-text-color);
  }

  &__mail-link,
  &__tel-link {
    color: var(--primary-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
