.header {
  // Breakpoints:
  // Mobile - 480px
  // Tablet - 768px

  // Desktop - 1200px
  display: inline-block;
  min-width: 480px;
  border: 1px solid #ececec;

  // Tablet styles
  @media screen and (min-width: 768px) {
    &__container {
      min-width: 768px;
      display: flex;
      align-items: center;
    }
  }

  // Desktop styles
  @media screen and (min-width: 1200px) {
    &__container {
      min-width: 1200px;
      display: flex;
      align-items: center;
    }
  }
}
