.header {
  width: 100%;
  border: 1px solid #ececec;

  &__container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }

  // Tablet and desktop styles
  @media screen and (min-width: 768px) {
    &__container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
