// Breakpoints:
// Mobile - 480px
// Tablet - 768px
// Desktop - 1200px

.portfolio {
  display: inline-block;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;

  // Desktop styles
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filters {
  width: 326px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  gap: 8px;

  &__btn {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--primary-hover-color);
      background-color: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      cursor: pointer;
    }
  }
  // Tablet styles
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    gap: 8px;
  }
  // Desktop styles
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
