.team {
  height: 708px;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-bg-color);

  &__heading {
    margin-right: auto;
    margin-left: auto;
  }

  &__list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  &__card {
    width: 270px;
    flex-basis: calc((100% - 90px) / 4);
    background-color: var(--primary-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 4px 4px;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__title {
    padding: 30px;
  }

  &__employee-name {
    color: var(--primary-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__employee-position {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 16px;
  }
}
