:root {
  --main-font: "Roboto", "sans-serif";
  --secondary-font: "Raleway", "sans-serif";
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --primary-hover-color: #f5f4fa;
  --alternative-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
}
